*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    background-color: #6f6d72;
    width: 100%;
    color: white;
    height: 3000px;
}
.top {
    display: flex;
    background-color: rgb(85, 84, 84);
    border-bottom: 3px solid yellow;
}
.logo {
    display: flex;
    margin: 10px;
    margin-left: 120px;
}
.nameLogo{
    margin-top: 10px;

}
.nameLogo b{
    font-size: 35px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nameLogo p{
    font-size: 11px;
    color: rgb(21, 217, 252);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.nameLogo a{
    color: rgb(243, 207, 2);
    text-decoration: none;
}
.search {
    display: flex;
    background-color: rgb(59, 55, 55);
    border: 2px;
    border-radius: 30px;
    height: 44px;
    width: 370px;
    margin-top: 15px;
    margin-left: 30px;
}
.icon-search {
    background-color: rgb(26, 113, 243);
    width: 38px;
    border-radius: 38px;
    margin: 3px;
    margin-left: 8px;
    cursor: pointer;
}
.search input{
    border: none;
    color: rgb(180, 170, 170);
    background-color: rgb(59, 55, 55);
    margin: 10px;
    width: 300px;
    outline: none;
}
.menu {
    width: 100%;
    background-color: rgb(68, 60, 60);

}
.menu ul{
    display: flex;
    list-style-type: none;
    margin-left: 100px;
    padding: 10px;
    flex-wrap: wrap;
}
.menu ul li a {
    font-size: 18px;
    text-decoration: none;
    color: white;
    background-color: rgb(68, 60, 60);
    padding: 10px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.menu ul li a:hover {
    background-color: rgb(56, 49, 49);
}
.table {
    width: 100%;
    display: block;
}
.namelogo {
    border-bottom: 2px solid rgb(77, 77, 73);
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    font-family: Arial, Helvetica, sans-serif;

}
.table-main {
    width: 80%;
    margin: 0 auto;
    background-color: black;
    padding: 15px;
    display: flex;
    margin-top: 10px;
    border-bottom: 1px solid white;
}

.name {
    background-color: black;
    opacity: 0.7;
    width: 100%;
    height: 15%;
    margin-top: 230px;
}
.name b{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 115, 0);
}
.sp1 {
    width: 22%;
    height: 290px;
    background-image: url("./imgs/poster.medium.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 16px;
    border: 2px solid white;
}

.sp2 {
    width: 22%;
    height: 290px;
    background-image: url("./imgs/poster.medium\ \(1\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 14px;
    border: 2px solid white;
}

.sp3 {
    width: 22%;
    height: 290px;
    background-image: url("./imgs/poster.medium\ \(2\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 14px;
    border: 2px solid white;
}

.sp4 {
    width: 22%;
    height: 290px;
    background-image: url("./imgs/poster.medium\ \(3\).jpg");
    background-size: cover;
    background-repeat: no-repeat;
    margin: 0 14px;
    border: 2px solid white;
}
.main {
    margin-top: 50px;
    width: 100%;
}
.main-content {
    width: 80%;
    margin: 0 auto;
    display: flex;
}
.qc{
    flex: 1;
    background-color: rgb(70, 89, 90);
    margin-right: 15px;
}
.content {
    flex: 1;
}
.trailer{
    flex: 1;
}
.theLoai {
    width: 100%;
}
.theLoai ul{
    display: flex;
    list-style-type: none;
}
.theLoai ul li{
    background-color: black;
    text-align: center;
    flex: 1;
    padding: 5px;
}
.theLoai ul li a{
    text-decoration: none;
    color: rgb(187, 178, 178);
    font-size: 20px;
}
.theLoai ul li a:hover{
    color: white;
}
.movie{
    background-color: rgb(29, 26, 26);
    width: 100%;
}
.movie ul{
    list-style-type: none;
    display: block;
}
.movie ul li {
    padding: 10px;
}
.movie ul li a{
    text-decoration: none;
    color: white;

}
